@charset "UTF-8";

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: ghostwhite;
}

.main{
    margin: 1rem;
    padding: 1rem;
    min-width: 680px;
}

.header{
    margin: 1rem 0;
    display: flex;
}
.title{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.button{
    margin: auto 0;
    margin-right: 1rem;
}

.btn{
    font-size: 1.5rem;
    border-radius: 4px;
}

.body{
    display: flex;
    border: 3px solid gray;
    border-radius: 4px;
    background: floralwhite;
    min-height: 400px;
}

.setup{
    min-width: 180px;
    border: 2px none gray;
    border-right-style: solid;
}

.level{
    padding: 0.5rem 0.2rem;
    border: 2px none gray;
    border-bottom-style: dashed;
}

.level select{
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    padding-right: 1rem;
    border-radius: 6px;
}

.customize{
    margin: 0.5rem 0.2rem;
}

.customize p{
    margin: 0;
}

.customize .textbox{
    margin: 0.5rem;
    text-align: left;
}

.customize_parts input{
    max-width: 3rem;
}

.main_panel{
    min-width: 500px;
    width: 100%;
    position: relative;
    background: lightgreen;
}

.minesweeper{
    display: none;
}

.time{
    text-align: center;
    margin-left: auto;
    margin-right: 1rem;
}
.bomb_img{
    margin-top: auto;
    margin-bottom: auto;
}
.bomb{
    text-align: center;
    margin-right: auto;
    margin-left: 1rem;
}

.resulta{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.result{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.result .text{
    text-align: center;
    margin: 0;
    margin-right: 1rem;
}
.result .time{
    margin: 0;
    margin-left: 1rem;
}

.customize_size, .customize_bomb{
    display: inline-block;
    width: 100%;
}
.category{
    float: left;
}
.textbox{
    text-align: right;
}
.textbox input{
    max-width: 3rem;
}
.textbox .range{
    max-width: 9rem;
}






.game_start{
    text-align: center;
    position: relative;
    background: blue;
    height: 100%;
}
.game_start p{
    position: absolute;
    width: 100%;
    top: 55%;
    text-align: center;
}

.game_start button{
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    transform : translate(-50%, -50%);
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.main_phase{
    margin: 1rem;
    background: white;
    width: 100%;
}
.game_hidden{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}
.game_view{
    height: 100%;
    opacity: 1;
    background: blanchedalmond;

}

.data p{
    margin: 0.5rem;
    text-align: center;
}
.intro{
    margin: 1rem;
}


main{
    padding: 1rem;
    background: cornsilk;
}

#data{
    display: flex;
    padding: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: solid medium black;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

td, tr{
    margin: 0px;
    font-size: 0px;
}

#data img{
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

#data p{
    padding: 0.5rem;
    text-align: center;
}
#bomb{
    margin-left: auto;
}
#time{
    margin-right: auto;
}

/*result*/
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }

  .res_button{
    display: flex;
  }
  #newgame, #replay{
    border: none;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    margin: 0.5rem;
    margin-left: auto;
  }
  #replay{
    margin-left: 0.5rem;
    margin-right: auto;
  }
